<!DOCTYPE html>
<html ng-app="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <style>
        body{
            background-color: {{color}};
        }
        p{
            font-size: {{size}};
        }
    </style>
</head>
<body>
    <input type="text" placeholder="Enter Your Name" ng-model="name">
    <br><br>
    <input type="text" placeholder="Enter Name of Any Color :" ng-model="color">
    <h1 ng-bind="name"></h1>
    <input type="text" placeholder="change the font-size of the paragraph" ng-model="size">
    <p>Welocome to angular js</p>
    <textarea ng-model="txt" cols="30" rows="10"></textarea>
    <br><br><h2>{{txt}}</h2>
    <br><br><h2 ng-bind="txt"></h2><br><br><br>
    <select ng-model="emp_name">
        <option value="yadu">yadu</option>
        <option value="Amir">Amir</option>
        <option value="Zain">Zain</option>
    </select>
    <br><br><h2 ng-bind="emp_name"></h2>
</body>
</html>