<!DOCTYPE html>
<html ng-app="MyMod">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Window Service</title>
    <script src="angular.min.js"></script>
    <script src="module11.js"></script>
</head>
<body ng-controller="myController">
    <input type="text" placeholder="Enter Your name : " ng-model="name">
    <input type="button" value="click to se alert" ng-click="Hellow('Hellow world')">
    <input type="button" value="click to see alert" ng-click="DisplayAlert(name)">
    <input type="button" value="click to see prompt" ng-click="DisplayPrompt()">
    <input type="button" value="click to add" ng-click="Add()">
</body>
</html>